table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
* {
  text-align:left;
  color: darkblue;
}

@media (min-width: 500px) {
                body {
                    background-color:rgb(247, 150, 143);
                }
            }

            @media (max-width: 499px) {
                body {
                    background-color: rgb(146, 247, 229);
                }
            }
